
.App__header {
    height: 150px;
    width: 100vw;
    position: fixed;
    margin-bottom: 50px;
    background-color: white;

}
.Company__name {

}
.App__menu {

}
.Company-info {

}
.Working-info {

}
.Contact-info {

}