

.Rooms__container {
    background-color: darkcyan;
    height: 100%;
    overflow-y: scroll; 
     display: flex;
    justify-content: center;
}

.Rooms__list {
    margin-top: 90px;
    padding: 0;
    list-style: none;
    background-color: purple;

}




// .main-section {
//     margin-top: 300px;
// }

// .Rooms__container {
//     background-color: darkcyan;
//     height: 100%;
//     overflow-y: scroll;
// }

// .Rooms__list {
//     margin-top: 250px;
// }

// .Room-card__container {
//     width: 200px;
//     height: 500px;
// }

// .Room__image {
//     width: 300px;
//     height: 300px;
// }


  