.Room-card__container {
    height: 340px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    background-color: $light-grey;
    list-style: none;
    @media all and (min-width:768px) {
        width: 520px;
        height: 600px;
    }
}

.Room__image {
    width: 280px;
    height: 150px;
    &:hover {
        box-shadow: 10px 10px 35px $black;
    }
    @media all and (min-width:768px) {
        width: 480px;
        height: 350px;
    }
}

.Room__info {
    width: 260px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    @media all and (min-width:768px) {
        width: 460px;
        font-size: 20px;
    }
}

.Room__description {
    height: 45px;
}

.Room__price {
    align-self: flex-end;
    background: $black;
    color: $yellow;
    font-weight: 700;
    margin-bottom: 35px;
    padding: 5px 10px;
    border-radius: 10px;
}

.Button__container {
    width: 260px;
    display: flex;
    justify-content: flex-end;
    @media all and (min-width:768px) {
        width: 460px;
    }
}

.Details__button {
    font-size: 13px;
    font-weight: 700;
    background: $orange;
    color: $white;
    border-bottom: solid 2px $dark-orange;
    outline: none; 
    margin-right: 15px;
    @media all and (min-width:768px) {
        font-size: 20px;
    }
}


.Book__button {
    font-size: 13px;
    font-weight: 700;
    background: $light-green;
    color: $white;
    border-bottom: solid 2px $dark-green;
    outline: none;
    @media all and (min-width:768px) {
        font-size: 20px;
    }
}




