.Room-card__container {
    height: 340px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    background-color: $light-grey;
    list-style: none;

    @media all and (min-width:768px) {
        width: 700px;
        height: 200px;
        flex-direction: row;
        padding: 0 0 0 25px;
        margin-bottom: 30px;
    }
    
    @media all and (min-width:992px) {
        width: 900px;
        height: 250px;
    }

    @media all and (min-width:1200px) {
        width: 1100px;
    }
}

.Room__image {
    width: 280px;
    height: 150px;
    &:hover {
        box-shadow: 10px 10px 35px $black;
    }

    @media all and (min-width:768px) {
        width: 350px;
        height: 160px;
    }
   
    @media all and (min-width:992px) {
        width: 360px;
        height: 200px;
    }
}

.Room-info-action__container {
    @media all and (min-width:768px) {
        width: 310px;
        height: 160px;
        flex-direction: row;
        padding: 0 0 0 25px;
    }

    @media all and (min-width:992px) {
        height: 250px;
        padding: 0;
        margin-left: 10px;
    }
}

.Room__info {
    width: 260px;
    font-size: 13px;
    display: flex;
    flex-direction: column;

    @media all and (min-width:768px) {
        font-size: 16px;
        width: 310px;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 31px;
    }
    
    @media all and (min-width:992px) {
        padding-top: 40px;
        width: 490px;
        font-size: 20px;
        margin-bottom: 100px;
    }

    @media all and (min-width:1200px) {
        width: 690px;
        font-size: 22px;
    }
}

.Room__description {
    height: 45px;

    @media all and (min-width:768px) {
        margin: 0;
        width: 230px;
    }
    
    @media all and (min-width:992px) {
        padding-left: 20px;
        width: 350px;
        text-align: auto;
    }

    @media all and (min-width:1200px) {
        width: 540px;
    }
}

.Room__price {
    align-self: flex-end;
    background: $black;
    color: $yellow;
    font-weight: 700;
    margin-bottom: 35px;
    padding: 5px 10px;
    border-radius: 10px;
    
    @media all and (min-width:992px) {
        margin: 0;
    }
}

.Button__container {
    width: 280px;
    display: flex;
    justify-content: flex-end;

    @media all and (min-width:768px) {
     width: 310px;
     height: 20px;
    }
    
    @media all and (min-width:992px) {
        width: 490px;
    }

    @media all and (min-width:1200px) {
        width: 690px;
    }
}

.Details__button {
    font-size: 13px;
    font-weight: 700;
    width: 133px;
    background: $orange;
    color: $white;
    border-bottom: solid 2px $dark-orange;
    outline: none; 
    margin-right: 15px;

    @media all and (min-width: 768px) {
        font-size: 16px;
    }

    @media all and (min-width:992px) {
        height:40px;
        font-size: 18px;
        width: 155px;
    }

    @media all and (min-width:1200px) {
        font-size: 20px;
    }
}

.Book__button {
    font-size: 13px;
    font-weight: 700;
    width: 132px;
    background: $light-green;
    color: $white;
    border-bottom: solid 2px $dark-green;
    outline: none;

    @media all and (min-width: 768px) {
        font-size: 16px;
    }
    
    @media all and (min-width:992px) {
        font-size: 18px;
        height:40px;
        width: 155px;
    }

    @media all and (min-width:1200px) {
        font-size: 20px;
    }  
}




