$light-green: #358f31;
$dark-green: #146A20;
$yellow: #FCD103;
$orange: #F09218;
$light-orange:#FFA500;
$dark-orange: #C8770D;
$black: #343133;
$light-grey: #D2D2D2;
$dark-grey: #A2A2A2;
$white: #FFFFFF;
